VIRTUAL_HOST=apkee.hk
VIRTUAL_NETWORK=apkee
VIRTUAL_PORT=8081

TZ=Asia/Hong_Kong

APP_LOCALE=en-GB

DB_CONTAINER=apkee_db
DB_USER=nxstudio
DB_PASS=nx@82279602
DB_NAME=apkee
DB_PORT=3381
DB_VOL=apkee_db

AKAUNTING_CONTAINER=apkee_ak
AKAUNTING_URL=http://192.168.12.144:8081
AKAUNTING_COMPANY_NAME=nxStudio Technologies Limited
AKAUNTING_COMPANY_EMAIL=support@nxstudio.com
AKAUNTING_ADMIN_EMAIL=paulusyeung@nxstudio.com
AKAUNTING_ADMIN_PASSWORD=nx@82279602
AKAUNTING_BACKUPS_EXPIRY=0
AKAUNTING_DATA_VOL=apkee_data
AKAUNTING_WWW_VOL=apkee_www

NGINX_CONTAINER=apkee_web

PMA_CONTAINER=apkee_pma
PMA_VIRTUAL_PORT=1081
PMA_ROOT_PASSWORD=nx@82279602
